.footer__links_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #ffffff;
  text-decoration: none;
}

.footer__links_link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .footer__links_link {
    font-size: 24px;
    line-height: 100%;
  }
}


