.cover {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto 92px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover:hover {
    .cover__overlay {
        opacity: 0.8;
    }
}


