.place__website_link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration: underline;
  color: #ffffff;
}

.place__website_link:hover {
    opacity: 0.8;
}